.table{
  table-layout: fixed;
  margin-top: 15px;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  max-width: 1420px;
}

.tableContainer{
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1420px;
  overflow-y: visible;
  margin-bottom: 100px;
}
