[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
starlette = "*"
sqlalchemy = "*"
passlib = "*"
python-jose = "*"
emails = "*"
cryptography = "*"
python-multipart = "*"
numpy = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.8"
