<ngb-alert class="alert alert-danger" *ngIf="!generateAlertClosed" (close)="generateAlertClosed = true">There's not enough space on the canvas for this configuration!</ngb-alert>

<div class="container-fluid">
  <div class="row justify-content-md-left editorContainer">
    <div class="col-sm pr-0">
      <canvas id="{{canvasId}}" class="canvas" width="1500" height="857"></canvas>
    </div>
    <div class="col-sm pl-0 toolboxContainer">
      <div class="toolboxHeader">Tools</div>
      <div class="toolboxBody container-fluid">
        <div class="row justify-content-left">
          <div class="col-sm-6">
            <label class="col-form-label">Row count</label>
          </div>
          <div class="col-sm-6">
            <input id="rowNumInput" type="number" min="0" class="form-control" placeholder=""
                   aria-label="" aria-describedby="basic-addon1"
                   [(ngModel)]="rowMetric.count"
            >
          </div>
        </div>
        <div class="row justify-content-md-left">
          <div class="col-sm-6">
            <label class="col-form-label">Column count</label>
          </div>
          <div class="col-sm-6">
            <input id="colNumInput" type="number" min="0" class="form-control" placeholder=""
                   aria-label="" aria-describedby="basic-addon1"
                   [(ngModel)]="colMetric.count"
            >
          </div>
        </div>
        <div class="row justify-content-left">
          <div class="col-sm-6">
            <label class="col-form-label">Vertical distance</label>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" min="0" class="form-control" placeholder=""
                     aria-label="" aria-describedby="basic-addon1"
                     [(ngModel)]="rowMetric.distance"
              >
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label">Horizontal distance</label>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" min="0" class="form-control" placeholder=""
                     aria-label="" aria-describedby="basic-addon1"
                     [(ngModel)]="colMetric.distance"
              >
              <div class="input-group-append">
                <span class="input-group-text">cm</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-right">
          <div class="col">
            <button type="button" class="btn btn-danger float-left mt-2" (click)="resetCanvas()">Reset
            </button>
          </div>
          <div class="col-8">
            <button type="button" class="btn btn-secondary float-right mt-2" (click)="generateSeats()">Generate
            </button>
            <button type="button" class="btn btn-secondary float-right mt-2 mr-2" (click)="addSeat()">Add seat
            </button>
          </div>
        </div>
        <hr>
        <div class="row justify-content-left">
          <div class="col-sm">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="snaptoGridCheckbox" checked="checked"
                     [(ngModel)]="snapToGrid"
                     (change)="toggleSnapToGrid()">
              <label class="custom-control-label" for="snaptoGridCheckbox">Snap to grid</label>
            </div>
            <p class="usage mt-5 mb-0 pb-0 description">
              Usage:
            </p>
            <p class="mt-0 mb-0 pb-0 description">
              Scroll wheel to zoom in / out
            </p>
            <p class="mt-0 mb-0 pb-0 description">
              Alt + mouse drag to move the view
            </p>
            <p class="mt-0 mb-0 pb-0 description">
              Ctrl + C to copy selected
            </p>
            <p class="mt-0 mb-0 pb-0 description">
              Ctrl + V to paste selected
            </p>
            <p class="mt-0 mb-0 pb-0 description">
              Delete or del to remove selected
            </p>
          </div>
        </div>
        <hr>
        <div class="row justify-content-left">
          <div class="col-sm">
            <div class="form-group">
              <label for="layoutNameTextbox">Layout name</label>
              <input type="email" class="form-control" id="layoutNameTextbox" [(ngModel)]="name" placeholder="Enter a name...">
            </div>
            <button type="button" class="btn btn-primary mt-2 float-right" (click)="saveLayout()"
            >Save layout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
