@import 'variables';

$body-bg: $color-bg-grey;
//$body-color: $color-text-grey-light;

$navbar-dark-color: $color-text-grey-light;
$navbar-dark-hover-color: $color-text-grey-light;
//$navbar-dark-hover-color: $color-bg-orange;

//.navbar navbar-dark

$navbar-padding-y: 0;
